<br>
<div class="container">
    <div class="grid justify-content-center p-2 bg-success-subtle align-items-center">
        <div class="container fw-bold">
            <div class="row">
              <div class="col">
                Order ID
              </div>
              <div class="col">
                Category
              </div>
              <div class="col">
                Quantity
              </div>
              <div class="col">
                Price
              </div>
            </div>
          </div>      
        
    </div>

</div>
    