<form (ngSubmit)="onSubmit(formValue)">
  <div class="container mt-5 pt-5 d-flex justify-content-center d-flex align-items-center">
    <div class="col-md-7 col-lg-8">
      <h3 class="mb-4">Signup</h3>
        <div class="row g-3">
          <div class="col-sm-6">
              <label for="firstName" class="form-label">First Name</label>
              <input [(ngModel)]="formValue.FirstName" #firstName="ngModel" 
                type="text" class="form-control"
                id="firstName" name="firstName" 
                placeholder="Enter First name" required />
                <span *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert" >First Name is required.</span>
          </div>
          <div class="col-sm-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input [(ngModel)]="formValue.LastName" #lastName="ngModel" type="text" class="form-control" id="lastName"
              name="lastName" placeholder="Enter Last name" required />
              <span *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert" >Last Name is required.</span>
          </div>
          <div class="col-6">
            <label for="phone" class="form-label">Phone number</label>
            <input [(ngModel)]="formValue.Phone" #phone="ngModel" type="text" class="form-control" id="phone" name="phone"
              placeholder="Enter Phone number" required />
              <span *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert" >Phone Number is required.</span>
          </div>
          <div class="col-6">
            <label for="email" class="form-label">Email address</label>
            <input [(ngModel)]="formValue.Email" #email="ngModel" type="email" class="form-control" id="email" name="email"
              placeholder="Enter Email" required ngModel [email]="true"/>
              <span *ngIf="email.invalid && (email.dirty || email.touched)" class="alert" >Email is required.</span>
          </div>
          <div class="col-12">
            <label for="password" class="form-label">Password</label>
            <input [(ngModel)]="formValue.Password" #password="ngModel" type="password" class="form-control" maxlength="12" minlength="5"
              id="password" name="password" placeholder="* *** *** ****" required />
              <span *ngIf="password.invalid && (password.dirty || password.touched)" class="alert" >Password is required.</span>
              <span *ngIf="password.errors?.['minlength']">
                Password must be at least 5 characters long. </span>
          </div>

          <div class="col-12">
            <label for="street" class="form-label">Street</label>
            <input [(ngModel)]="formValue.street" #street="ngModel" type="text" class="form-control" id="street" name="street"
              placeholder="Enter street " required/>
              <span *ngIf="street.invalid && (street.dirty || street.touched)" class="alert" >Street is required.</span>
          </div>
          <div class="col-md-4">
            <label for="city" class="form-label">City</label>
            <input [(ngModel)]="formValue.city" #city="ngModel" type="text" class="form-control" id="city" name="city"
              placeholder="Enter city" required />
              <span *ngIf="city.invalid && (city.dirty || city.touched)" class="alert" >City is required.</span>
          </div>
          <div class="col-md-3">
            <label for="zip" class="form-label">Zip-code</label>
            <input [(ngModel)]="formValue.zip" #zip="ngModel" class="form-control" id="zip" name="zip"
              placeholder="Enter Zip-code number" required />
              <span *ngIf="zip.invalid && (zip.dirty || zip.touched)" class="alert" >Zip-code is required.</span>
          </div>
          <div class="col-md-5">
            <label for="state" class="form-label">State</label>
            <select [(ngModel)]="formValue.state" #state="ngModel" class="form-select" name="state" id="state" required>
              <option value="">Choose...</option>
              <option value="California">California</option>
              <option value="New York">New York</option>
              <option value="New Jerssy">New Jerssy</option>
            </select>
            <span *ngIf="state.invalid && (state.dirty || state.touched)" class="alert" >State is required.</span>
          </div>


          <div class="w-100">
            <button type="submit" class="py-3 w-100 btn btn-primary mb-3">
              Complete Signup
            </button>
          </div>
          <p class="small-xl pt-3 text-center">
            <span class="text-muted">Already have an account?</span>
            <a routerLink="/login"> Sign in</a>
          </p>
        </div>
    </div>
  </div>
</form>

<ng-toast></ng-toast>