
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/order-online" routerLinkActive="active" ariaCurrentWhenActive="page">Order Online</a></li>
    
  </ul>
</nav>
<div class="d-flex">
  <div class="container-fluid">

  <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> -->
    <div class="row">
    <div class="col mb-3">
      <div class="d-flex">
      <div class="card" style="width: 350px; height: 400px">
        <img src="../../assets/Images/calamari.png" width="100%" height="225" class="rounded">
        <div class="card-body">
          <p class="card-text">Tender calamari, lightly breaded and fried. Served with marinara sauce and spicy ranch.</p>
          
          <div class="d-flex flex-row-reverse justify-content-between align-items-center">
            <div class="btn-group" >
              <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
            </div>
            <p class="text-body-secondary">Price: $12.79</p>
          </div>
        </div>
      </div>
    </div>
  </div>

   
      <div class="col mb-3 d-flex" >
        
          <div class="card" style="width: 350px; height: 400px">
            <img src="../../assets/Images/Fried-Mozzarella.png" width="100%" height="225" class="rounded">
              <div class="card-body">
                <p class="card-text">Fried mozzarella cheese with marinara sauce.</p>
            
                   <div class="d-flex flex-row-reverse justify-content-between align-items-center">
                      <div class="btn-group" >
                          <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
                      </div>
                      <p class="text-body-secondary">Price: $9.29</p>
                    </div>
               </div>
          </div>
        
      </div>

      
        <div class="col mb-3 d-flex">
          <div class="card" style="width: 350px; height: 400px">
            <img src="../../assets/Images/Lasagna-Fritta.png" width="100%" height="225" class="rounded">
              <div class="card-body">
                   <p class="card-text">Fried parmesan-breaded lasagna, topped with parmesan cheese and meat sauce with creamy alfredo.
                    </p>
              
                    <div class="d-flex flex-row-reverse justify-content-between align-items-center">
                      <div class="btn-group" >
                        <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
                      </div>
                      <div><p class="text-body-secondary">Price: $11.49</p></div>
                    </div>
              </div>
          </div>
        </div>

        
          <div class="col mb-3">
            <div class="card" style="width: 350px; height: 400px">
              <img src="../../assets/Images/stuffed-ziti-fritta.png" width="100%" height="225" class="rounded">
              <div class="card-body">
                <p class="card-text">Crispy fried ziti filled with five cheeses. Served with alfredo and marinara dipping sauces..</p>
                
                <div class="d-flex flex-row-reverse justify-content-between align-items-center">
                  <div class="btn-group" >
                    <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
                  </div>
                  <div><p class="text-body-secondary">Price: $9.79</p></div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col mb-3">
              <div class="card" style="width: 350px; height: 400px">
                <img src="../../assets/Images/Toasted_Ravioli.png" width="100%" height="225" class="rounded">
                <div class="card-body">
                  <p class="card-text">Bigger with more filling! Lightly fried ravioli filled with seasoned beef. Served with homemade marinara sauce..</p>
                  
                  <div class="d-flex flex-row-reverse justify-content-between align-items-center">
                    <div class="btn-group" >
                      <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
                    </div>
                    <div><p class="text-body-secondary">Price: $12.79</p></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-3">
              <div class="card" style="width: 350px; height: 400px">
                <img src="../../assets/Images/Toasted_Ravioli.png" width="100%" height="225" class="rounded">
                <div class="card-body">
                  <p class="card-text">Bigger with more filling! Lightly fried ravioli filled with seasoned beef. Served with homemade marinara sauce..</p>
                  
                  <div class="d-flex flex-row-reverse justify-content-between align-items-center">
                    <div class="btn-group" >
                      <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
                      
                    </div>
                    <p class="text-body-secondary">Price: $12.79</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-3">
              <div class="card" style="width: 350px; height: 400px">
                <img src="../../assets/Images/Toasted_Ravioli.png" width="100%" height="225" class="rounded">
                <div class="card-body">
                  <p class="card-text">Bigger with more filling! Lightly fried ravioli filled with seasoned beef. Served with homemade marinara sauce..</p>
                  
                  <div class="d-flex flex-row-reverse justify-content-between align-items-center">
                    <div class="btn-group" >
                      <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
                      
                    </div>
                    <p class="text-body-secondary">Price: $12.79</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-3">
              <div class="card" style="width: 350px; height: 400px">
                <img src="../../assets/Images/Toasted_Ravioli.png" width="100%" height="225" class="rounded">
                <div class="card-body">
                  <p class="card-text">Bigger with more filling! Lightly fried ravioli filled with seasoned beef. Served with homemade marinara sauce..</p>
                  
                  <div class="d-flex flex-row-reverse justify-content-between align-items-center">
                    <div class="btn-group" >
                      <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
                      
                    </div>
                    <p class="text-body-secondary">Price: $12.79</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
            
          </div>    
</div>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>