<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<div class="container">
  <h1 style="font-family:verdana; text-align:center; font-size:300%">APPETIZERS</h1>
  <div class="d-flex py-4 flex-wrap justify-content-center">
    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/calamari.png" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Calamari</b> </p>
        <p class="card-text" style="text-align:justify;"><b>Description: </b>Tender Calamari, lightly breaded and fried.
          Served with marinara sauce and spicy ranch.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary"
              style="position: relative; bottom: 2px; right: 2px;">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $12.79</b></p>
        </div>
      </div>
    </div>
    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/Fried-Mozzarella.png" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Fried Mozzarella</b> </p>
        <p class="card-text" style="text-align:justify;"><b>Description: </b>Fried mozzarella cheese with marinara
          sauce.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary"
              style="position: relative; bottom: 2px; right: 2px;">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $9.29</b></p>
        </div>
      </div>
    </div>
    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/Lasagna-Fritta.png" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Lasagna-Fritta</b> </p>
        <p class="card-text" style="text-align:justify;"><b>Description: </b>Fried parmesan-breaded lasagna, topped with
          parmesan cheese and meat sauce with creamy alfredo.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $11.49</b></p>
        </div>
      </div>
    </div>
    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/stuffed-ziti-fritta.png" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Stuffed Ziti Fritta</b> </p>
        <p class="card-text" style="text-align:justify;">Crispy fried ziti filled with five cheeses. Served with alfredo
          and marinara dipping sauces.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $9.79</b></p>
        </div>
      </div>
    </div>
    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/Toasted_Ravioli.png" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Toasted Ravioli</b> </p>
        <p class="card-text" style="text-align:justify;">Bigger with more filling! Lightly fried ravioli filled with
          seasoned beef. Served with homemade marinara sauce.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $9.99</b></p>
        </div>
      </div>
    </div>

    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/Olive-Garden-Breadsticks-Square-500x500.jpg" width="100%" height="225"
        class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Breadsticks</b> </p>
        <p class="card-text" style="text-align:justify;">BigBite's Favorite. Add Freshly-Baked breadsticks to your
          order.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $4.79</b></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 style="font-family:verdana; text-align:center; font-size:300%">CLASSIC ENTRÉES</h1>
  <div class="d-flex py-4 flex-wrap justify-content-center">
    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/classic-eggplant-parmigiana-dinner-dpv-590x365.jpg" width="100%" height="225"
        class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Eggplant Parmigiana</b> </p>
        <p class="card-text" style="text-align:justify;">Hand-breaded eggplant, lightly fried and topped with marinara
          and melted mozzarella. Served with a side of spaghetti.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $17.99</b></p>
        </div>
      </div>
    </div>

    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/Lunch_SpaghettiWithMeatsauce_DPV.jpg" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Spaghetti</b> </p>
        <p class="card-text" style="text-align:justify;">Spaghetti topped with your choice of homemade marinara (V) or
          meat sauce prepared fresh daily.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $10.99</b></p>
        </div>
      </div>
    </div>

    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/Fettuccine-Alfredo-Catering-Pan-dpv-1180X730.jpg" width="100%" height="225"
        class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Fettuccine Alfredo</b> </p>
        <p class="card-text" style="text-align:justify;"><b>Description: </b>Our signature alfredo sauce made with
          ingredients like parmesan, cream, garlic and butter, served over fettuccine.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary"
              style="position: relative; bottom: 2px; right: 2px;">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $16.79</b></p>
        </div>
      </div>
    </div>

    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/Shrimp-Scampi-Dinner-dpv-1180x730.jpg" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Shrimp Scampi</b> </p>
        <p class="card-text" style="text-align:justify;"><b>Description: </b>A lighter take on a classic! Shrimp sautéed
          in a garlic sauce, tossed with asparagus, tomatoes and angel hair.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary"
              style="position: relative; bottom: 2px; right: 2px;">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $20.99</b></p>
        </div>
      </div>
    </div>

    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/classic-five-cheese-ziti-al-forno-dpv-590x365.jpg" width="100%" height="225"
        class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Five Cheese Ziti al Forno</b> </p>
        <p class="card-text" style="text-align:justify;"><b>Description: </b>A baked blend of Italian cheeses, pasta and
          our signature five cheese marinara.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary"
              style="position: relative; bottom: 2px; right: 2px;">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $18.49</b></p>
        </div>
      </div>
    </div>

    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/Cheese-Ravioli-dpv-1180x730.jpg" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Cheese Ravioli</b> </p>
        <p class="card-text" style="text-align:justify;"><b>Description: </b>Filled with a blend of Italian cheeses,
          topped with homemade marinara or meat sauce and melted mozzarella.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary"
              style="position: relative; bottom: 2px; right: 2px;">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $16.99</b></p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <h1 style="font-family:verdana; text-align:center; font-size:300%">DESERTS</h1>
  <div class="d-flex py-4 flex-wrap justify-content-center">
    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/d-parties-to-go-black-tie-mousse-cake-dpv.jpg" width="100%" height="225"
        class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Black Tie Mousse Cake</b> </p>
        <p class="card-text" style="text-align:justify;">Rich layers of chocolate cake, dark chocolate cheesecake and
          creamy custard mousse.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $9.99</b></p>
        </div>
      </div>
    </div>

    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/Strawberry-Cream-Cake-Updated-dpv-1180x730.jpg" width="100%" height="225"
        class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Strawberry Cream Cake</b> </p>
        <p class="card-text" style="text-align:justify;">Vanilla sponge cake layered with sweet vanilla cream and topped
          with fresh strawberries.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $9.79</b></p>
        </div>
      </div>
    </div>

    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/Strawberry-Cheesecake-gv-1180x730.jpg" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Cheesecake with Strawberry</b> </p>
        <p class="card-text" style="text-align:justify;"><b>Description: </b>Ricotta cheesecake with a shortbread cookie
          crust, topped with strawberry sauce.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary"
              style="position: relative; bottom: 2px; right: 2px;">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $9.49</b></p>
        </div>
      </div>
    </div>

    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/d-parties-to-go-tiramisu-dpv.jpg" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Tiramisu</b> </p>
        <p class="card-text" style="text-align:justify;"><b>Description: </b>The classic Italian dessert. A layer of
          creamy custard set atop espresso-soaked ladyfingers. </p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary"
              style="position: relative; bottom: 2px; right: 2px;">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $9.49</b></p>
        </div>
      </div>
    </div>

    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/chocolate-brownie-lasagna-dpv-590x365.jpg" width="100%" height="225"
        class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Chocolate Brownie Lasagna</b> </p>
        <p class="card-text" style="text-align:justify;"><b>Description: </b>Eight decadent layers of rich, fudgy
          brownie and sweet vanilla cream, topped with chocolate drizzle.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary"
              style="position: relative; bottom: 2px; right: 2px;">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $9.79</b></p>
        </div>
      </div>
    </div>

    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/Warm-Italian-Donuts-Chocolate-dpv-1180x730.jpg" width="100%" height="225"
        class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Warm Italian Doughnuts</b> </p>
        <p class="card-text" style="text-align:justify;"><b>Description: </b>Fried doughnuts tossed in vanilla sugar.
          Served with raspberry or chocolate sauce.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary"
              style="position: relative; bottom: 2px; right: 2px;">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $8.99</b></p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <h1 style="font-family:verdana; text-align:center; font-size:300%">BEVERAGES</h1>
  <div class="d-flex py-4 flex-wrap justify-content-center">
    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/d-raspberry-lemonade-dpv.JPG" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Raspberry Lemonade</b> </p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $4.29</b></p>
        </div>
      </div>
    </div>






    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/og-lemonade-dpv-590x365.png" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Classic Lemonade</b> </p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary"
              style="position: relative; bottom: 2px; right: 2px;">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $3.69</b></p>
        </div>
      </div>
    </div>

    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/mango-strawberry-tea-dpv-590x365.jpg" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Mango- Strawberry Iced Tea</b> </p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary"
              style="position: relative; bottom: 2px; right: 2px;">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $4.29</b></p>
        </div>
      </div>
    </div>

    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/gallon-iced-tea-dpv-509x365.jpg" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Fresh Brewed Iced Tea</b> </p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary"
              style="position: relative; bottom: 2px; right: 2px;">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $3.69</b></p>
        </div>
      </div>
    </div>

    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/Strawberry-Passion_Fruit_Limonata_1130x730_01.jpg" width="100%" height="225"
        class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Strawberry-Passion Fruit Limonata</b> </p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary"
              style="position: relative; bottom: 2px; right: 2px;">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $4.69</b></p>
        </div>
      </div>
    </div>

    <div class="card mb-4 me-4" style="width: 350px; height: 400px" (click)="redirectToLink()">
      <img src="../../assets/Images/d-two-liter-sodas-dpv.jpg" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text"><b>Name: Coke, Diet Coke or Sprite.</b> </p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary"
              style="position: relative; bottom: 2px; right: 2px;">Add to Cart</button>
          </div>
          <p class="text"><b>Price: $4.79</b></p>
        </div>
      </div>
    </div>

  </div>
</div>