<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<div class="container">
  <div class="d-flex py-4 flex-wrap justify-content-center">
    <div class="card mb-4 me-4" style="width: 350px; height: 400px">
      <img src="../../assets/Images/calamari.png" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text">Tender calamari, lightly breaded and fried. Served with marinara sauce and spicy ranch.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group" >
            <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
          </div>
          <p class="text-body-secondary">Price: $12.79</p>
        </div>
      </div>
    </div>
    <div class="card mb-4 me-4" style="width: 350px; height: 400px">
      <img src="../../assets/Images/calamari.png" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text">Tender calamari, lightly breaded and fried. Served with marinara sauce and spicy ranch.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group" >
            <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
          </div>
          <p class="text-body-secondary">Price: $12.79</p>
        </div>
      </div>
    </div>
    <div class="card mb-4 me-4" style="width: 350px; height: 400px">
      <img src="../../assets/Images/calamari.png" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text">Tender calamari, lightly breaded and fried. Served with marinara sauce and spicy ranch.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group" >
            <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
          </div>
          <p class="text-body-secondary">Price: $12.79</p>
        </div>
      </div>
    </div>
    <div class="card mb-4 me-4" style="width: 350px; height: 400px">
      <img src="../../assets/Images/calamari.png" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text">Tender calamari, lightly breaded and fried. Served with marinara sauce and spicy ranch.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group" >
            <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
          </div>
          <p class="text-body-secondary">Price: $12.79</p>
        </div>
      </div>
    </div>
    <div class="card mb-4 me-4" style="width: 350px; height: 400px">
      <img src="../../assets/Images/calamari.png" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text">Tender calamari, lightly breaded and fried. Served with marinara sauce and spicy ranch.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group" >
            <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
          </div>
          <p class="text-body-secondary">Price: $12.79</p>
        </div>
      </div>
    </div>
    <div class="card mb-4 me-4" style="width: 350px; height: 400px">
      <img src="../../assets/Images/calamari.png" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text">Tender calamari, lightly breaded and fried. Served with marinara sauce and spicy ranch.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group" >
            <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
          </div>
          <p class="text-body-secondary">Price: $12.79</p>
        </div>
      </div>
    </div>
    <div class="card mb-4 me-4" style="width: 350px; height: 400px">
      <img src="../../assets/Images/calamari.png" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text">Tender calamari, lightly breaded and fried. Served with marinara sauce and spicy ranch.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group" >
            <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
          </div>
          <p class="text-body-secondary">Price: $12.79</p>
        </div>
      </div>
    </div>
    <div class="card mb-4 me-4" style="width: 350px; height: 400px">
      <img src="../../assets/Images/calamari.png" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text">Tender calamari, lightly breaded and fried. Served with marinara sauce and spicy ranch.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group" >
            <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
          </div>
          <p class="text-body-secondary">Price: $12.79</p>
        </div>
      </div>
    </div>
    <div class="card mb-4 me-4" style="width: 350px; height: 400px">
      <img src="../../assets/Images/calamari.png" width="100%" height="225" class="rounded">
      <div class="card-body">
        <p class="card-text">Tender calamari, lightly breaded and fried. Served with marinara sauce and spicy ranch.</p>

        <div class="d-flex flex-row-reverse justify-content-between align-items-center">
          <div class="btn-group" >
            <button type="button" class="btn btn-sm btn-outline-primary" align="align-items-right">Add to Cart</button>
          </div>
          <p class="text-body-secondary">Price: $12.79</p>
        </div>
      </div>
    </div>

  </div>
</div>
