    <header class="text-bg-secondary text-decoration-underline">
        <div class="container">
    
        <ul class="text-end ">
    
            <button class="button btn btn-secondary px-4 py-1 mt-3 " type="button" data-bs-toggle="dropdown">
                <img src="./assets/profile-icon.jpg" width="30px" height="30px" > Profile</button>
            <ul class="dropdown-menu ">
                <li><a class="dropdown-item" href="/chefaccount">My Account</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
              </ul>
              <p class="fs-4 fw-bold text-center pb-2" >Hello, Chef</p>
        </ul>
    
    </div>
    </header>
    
    <section class="vh-100">
        <div class="container">
            
            <div class="row pt-2 pb-3">
                <div class="col-sm-3">
                    <div class="card border border-secondary">
                        <div class="card-title fs-4 fw-bold text-center text-success">
                        <div class="fs-4 fw-bold text-center text-success">
                            <p>Total Order</p>
                            <p>20</p>
                        </div>
                        </div>
                    </div>
                </div>

                        <div class="col-sm-3">
                            <div class="card border border-secondary">
                                <div class="card-title fs-4 fw-bold text-center text-success">
                                <div class="fs-4 fw-bold text-center text-success">
                                    <p>Order Completed</p>
                                    <p>15</p>
                                </div>  
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card border border-secondary">
                        <div class="card-title fs-4 fw-bold text-center text-danger">
                        <div class="fs-4 fw-bold text-center text-danger">
                            <p>Order In progress</p>
                            <p>5</p>
                        </div> 
            </div>
        </div>
                </div>
            </div>

                <table class="table table-bordered border border-secondary">
                    <thead>
                      <tr scope="col">
                        <th></th>
                        <th>Order Id</th>
                        <th>Items Order</th>
                        <th>Quantity</th>
                        <th>Special Instructions</th>
                        <th>Order Status</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <th>23</th>
                            <th>Spaghetti</th>
                            <th>2</th>
                            <th>Light Sauce</th>
                            <th>
                                <button class="button btn btn-primary px-4 pr-md-2 py-1 " type="button" data-bs-toggle="dropdown">Choose Order Status</button>
                <ul class="dropdown-menu ">
                    <li><a class="dropdown-item" href="#">Completed</a></li>
                    <li><a class="dropdown-item" href="#">Not Completed</a></li>
                  </ul>
                            </th>
                        </tr>
                    </tbody>
                  </table>
            
        </div>
                
    </section>