
<br>

    <div class="text-center">
        <h2 class =" text-decoration-underline fw-bold">Thanks! Your order has been placed</h2>
        <br>
        <p class="fst-italic">We are getting started on your order right away, and your order 
            will be ready in 30 mins. Please find the order details below.</p> 
            <br>
            <hr>
            <div class="mx-auto bg-success-subtle" >
                <div class="input-group w-80 p-5">
                    <span class="input-group-text fw-bold">Your Order ID is</span>
                    <input type="text" class="form-control" placeholder="ID" aria-label="Order ID">
                    <span class="input-group-text fw-bold">Order placed on </span>
                    <input type="text" class="form-control" placeholder="Date & Time" aria-label="Order">
                </div>   
            </div>
            <hr>
                 
    </div>
    

