<div class="container mt-5">
  <h1 class="text-center mb-5">ABOUT US</h1>

  <p>
    Welcome to our <strong>BIGBITE</strong> restaurant, where classic and modern
    come together in perfect harmony. Our restaurant offers a stylish baroque
    atmosphere that's both classy and modern, making it the perfect destination
    for an elegant night out. As you step inside, you'll be greeted by a
    stunning bar located at the entrance, where our skilled bartenders will
    craft a wide selection of delicious cocktails.
  </p>
  <p>
    Our menu features a variety of classic specialties with a contemporary
    twist, all crafted with the freshest and highest quality ingredients by our
    talented chefs. From delectable pasta dishes to succulent seafood and
    perfectly cooked meats, we have something to please every palate.
  </p>
  <p>
    Whether you're celebrating a special occasion or just looking for a
    memorable dining experience, our restaurant offers a luxurious and inviting
    setting that's perfect for creating unforgettable memories. Indulge your
    senses with our exquisite food and drink, and soak up the ambiance of our
    stunning baroque surroundings.
  </p>
  <p>
    We invite you to join us for a meal and experience the perfect blend of
    modern luxury, delicious flavors, and unparalleled ambiance that our
    <strong>BIGBITE</strong> restaurant has to offer.
  </p>
</div>
