<section>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">
    
            <h1 style="text-align: center; padding-bottom: 10px;">Shopping Cart </h1>
        </div>
    
        <div class="w3-container">
    
            <table>
                <tr>
                    <th class="small text-muted mb-4 pb-2" style="min-width: 300px;">Order</th>
                    <th class="small text-muted mb-4 pb-2" style="min-width: 300px;">Quantity</th>
                    <th class="small text-muted mb-4 pb-2" style="min-width: 300px;">Price</th>
                    <th class="small text-muted mb-4 pb-2" style="min-width: 120px;">Remove Order</th>
    
                </tr>
    
    
                <tr>
                    <td class="small text-muted mb-4 pb-2" style="min-width: 300px;">Order name</td>
                    <td class="small text-muted mb-4 pb-2" style="min-width: 300px;"><input type="number" value="1">
                    </td>
                    <td class="small text-muted mb-4 pb-2" style="min-width: 300px;">$30.00</td>
                    <td class="small text-muted mb-4 pb-2" style="min-width: 250px;"><img src="./assets/Cross Delete.png"
                            width="50px" height="50px"></td>
                </tr>
    
                <tr>
                    <td class="small text-muted mb-4 pb-2" style="min-width: 300px;">Order name2</td>
                    <td class="small text-muted mb-4 pb-2" style="min-width: 300px;"><input type="number" value="1">
                    </td>
                    <td class="small text-muted mb-4 pb-2" style="min-width: 300px;">$10.00</td>
                    <td class="small text-muted mb-4 pb-2" style="min-width: 250px;"><img src="./assets/Cross Delete.png"
                            width="50px" height="50px"></td>
                </tr>
    
    
            </table>
    
        </div>
        <div class="d-flex justify-content-end">
            <p class="mb-0 me-5 d-flex align-items-center">Order total:</p>
        </div>
    
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-light btn-lg me-2">Continue shopping</button>
        <button type="button" class="btn btn-primary btn-lg">Checkout</button>
    </div>
</section>