<div class="admin-dashboard">
    <div class="sidebar">
      <div class="logo">Hello, John</div>
      <ul class="nav-links">
        <li><a routerLink="/admin">Home</a></li>
        <li><a routerLink="/admin/customer-dashboard">Customers</a></li>
        <li><a routerLink="/admin/sales-dashboard">Sales</a></li>
        <li><a routerLink="/admin/reservation-dashboard">Reservations</a></li>
        <li><a routerLink="/admin/employee-dashboard">Employees</a></li>
        <li><a routerLink="/admin/menu-dashboard">Menu Items</a></li>
      </ul>
    </div>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  